.container {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hr {
  background-color: #aeaeaf;
  margin: 0 auto;
  height: 1px;
  width: 90%;
  margin: 30px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
}
.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-transform: uppercase;
}

.header h2 {
  height: auto;
}
