.container {
  display: flex;
  background-color: white;
  gap: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
