.button {
  width: 200px;
  background-color: var(--buttonColor);
  border: solid 1px #f1f5f9;
  color: white;
  padding: 10px;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 100vh;
  background-color: #f1f5f9;
}

.hr {
  background-color: #aeaeaf;
  margin: auto;
  height: 1px;
  width: 90%;
}
