.container {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px;
  gap: 60px;
  width: 100%;
}
.para {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}
.button {
  width: 20px;
  background-color: var(--buttonColor);
  border: solid 1px #f1f5f9;
  color: white;
  padding: 5px;
  font-size: 13px;
  margin: 0 auto;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container {
    padding-right: 10px;
  }
}
.hr {
  background-color: #aeaeaf;
  margin: 0 auto;
  height: 1px;
  width: 90%;
  margin: 30px;
}

.title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
