/* Importing the general styling to remove the default */
@import "../general/variables.css";
/* Importing font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

:root {
  --main-color: #ffffff;
  --text-color: #000000;
  --button-color: #3d56f0;
  --second-text-color: #807a7a;
  --button-text-color: #ffffff;
}

/* Styling navbar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-color);
  width: 100%;
  height: 96px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.nav > ul {
  width: 50%;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

/* moving the Porfile logo on the right */
ul li:nth-child(3) {
  margin-right: 30px;
}
/* styling and  shaping  */
.nav img {
  fill: var(--text-color);
}
.profile-logo {
  height: 60px;
  width: 70px;
  fill: var(--button-color);
}

.hamb {
  display: none;
}

.hamb-container {
  height: 100%;
  width: 100%;
  background-color: rgba(161, 160, 160, 0.6); /* Background with 60% opacity */
  position: absolute;
  z-index: 9999; /* Set a high z-index value to place it on top */
}

.hamb-container > div {
  width: 80%;
  height: 50%;
  background-color: var(--main-color); /* Background color without opacity */
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 70px;
  z-index: 1; /* You can remove this line as it's not necessary */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 890px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav > ul {
    display: none;
  }
  .hamb {
    width: 50px;
    display: block;
    fill: var(--button-color);
  }
  .nav {
    height: 60px;
  }
  .main-logo > img {
    height: 40px;
  }
}
