.langIcon {
  color: #f1f5f9;
}

.langDropDown {
  width: 50px;
}
.langDropDown img {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.langDropDown img {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none;
}
