/* Importing the general styling to remove the default */
@import "../general/variables.css";
/* Importing font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
  --mainColor: #f0f9ff;
  --textColor: #ffffff;
  --buttonColor: rgb(0, 99, 190);
  --secondTextColor: #807a7a;
  --buttonTextColor: #ffffff;
  --navColor: rgb(0, 99, 190);
  --mainFont: "Open Sans", sans-serif;
}

/* Styling navbar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--navColor);
  width: 100%;
  height: 57px;
  text-transform: uppercase;
}
.nav > ul {
  width: 50%;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: "Open Sans", sans-serif;
}

.nav p {
  font-weight: 400;
  color: var(--textColor);
  font-size: 13px;
  font-weight: 500;
}

/* moving the Porfile logo on the right */
ul li:nth-child(3) {
  margin-right: 30px;
}
/* styling and shaping */
.nav img {
  fill: var(--textColor);
}
.login {
  height: 23px;
  fill: var(--textColor);
  opacity: 90%;
  margin-top: 5px;
}

.mainLogo img {
  width: 180px;
}

/* display none for the hamburger in order to be shown only on mobile version */
.hamb {
  display: none;
  width: 100px;
}

/* display the menu for mobile version */
.hambContainer {
  height: 100%;
  width: 100%;
  background-color: rgba(161, 160, 160, 0.6);
  position: absolute;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

.mobileNav {
  width: 98%;
  height: 55%;
  background-color: rgb(235, 234, 234);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  background: white;
  font-family: var(--mainFont);
  font-size: 20px;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 9px 11px 4px rgba(0, 0, 0, 0.1);
}
.listContainer {
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background: white;
  width: 90%;
  height: 60%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.lang {
  background: white;
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -4px 11px 4px rgba(0, 0, 0, 0.1);
}

li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

li p {
  font-size: 15px;
  text-transform: uppercase;
  font-family: var(--mainFont);
  line-height: 0.8;
  font-weight: 400;
}

li div {
  background-color: rgb(235, 234, 234);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

/* adding styling and responsiveness for mobile */
@media (max-width: 890px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav > ul {
    display: none;
  }
  .hamb {
    width: 35px;
    display: block;
    fill: var(--mainColor);
    margin-left: 20px;
  }
  .nav {
    height: 60px;
  }
  .mainLogo {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
  }
  .mainLogo > img {
    height: 40px;
  }
}

.noDisplay {
  color: #f0f9ff;
}

.none {
  display: none;
}
